@media (max-width: 642px) { 

    .main1,.button1,.ul1,.ul2{ 
        display: none;
    
    }
    .bars{
        display: block;

    }
    .nav{
        justify-content: center;
        /* gap: 90px; */
    }
    .h11{
        font-size: 50px;
    }
    .image1{
        width: 100%;
        margin: 0 auto;
    }
    .image33{
        width: 100%;
    }
    .container2{ flex-direction: column;}
    .head{
        width: 100%;
        text-align: center;  
    }
    .con33{ width: 100%;
flex-direction: column;
text-align: center;
gap: 30px;
    }
    .cont33{
        width: 100%;
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .logo21 {
        top: 30px;
        left: 20px;
    }
    
    .logo22 {
        top: 30px;
        left: 220px;
    }
    
    .logo23 {
        top: 30px;
        left: 390px;
    }
    
    .logo24 {
        top: 30px;
        right: 380px;
    }
    
    .logo25 {
        top: 30px;
        right: 180px;
    }
    .word1{
        width: 50%;
    }
    .imag4{
        width: 50%;
    }
    .button44{
        width: 90%;
    }
    .container4{
        width: 100%;
        display: flex;
        flex-direction: column;
text-align: center;
    }
    .contain51{ 
        flex-direction: column;
    
    }
    .flex2,.flex3{
        display: none;
    }
}
@media (max-width: 1200px) {
    .logo24, .logo25{
        display: none;
    }
}
